body
{
    letter-spacing: 0.1em; 
    
}
.Banner {
    
    background-color: rgb(117, 117, 117);
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}

.Banner ul{
   
    display: flex;
    align-items: center;
    
}
.Banner ul li{

  
   color: white;
   border-radius: 30px; 
   padding: 0 25px;
}

