*{
    font-family: "Roboto", sans-serif;
}
body
{
    letter-spacing: 0.1em; 
    
}
.Banner {
    
    background-color: rgb(117, 117, 117);
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
}
.Banner div{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
