
.formatacao{
    padding: 25px 5%;
}

.titulo
{
    padding: 1em 0;
    color: black;
    font-weight: bold;
    text-transform:capitalize;

}

#imagens
{
    width: 50px;
    padding: 0 25px;
}

.rodape{
    position: relative;
    display: flex;
    justify-content: space-between; 
    
}
ul{
    align-items: center;
    display: flex;
}
   

