body{
    
    background-color: rgb(15, 26, 48);
    color: rgb(177, 184, 202);
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto';
}
li{
    list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

h1,h2{  

    font-family: 'Poppins';
    margin: 0;
    color: rgb(234, 240, 255);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8vh 19vw;
    
}
header h1{
    align-content: center;
   
}
header li{
    margin: 0 5px;
}

#nave-contant{
    display: flex;
    justify-content: space-around;
    min-width: 40%;
}

#about{
    margin: 0 19vw;
}
#about-content{
     
}
#projects{
    flex-direction: column;
}
#projects h1{
    margin: 15px;
}


section{
  
   justify-items: center;
}


main{
    max-width: 60%;
}

#table{
    display: flex;
}

.space-pic{
    width: 20vw;
    margin: 1vw;
    
    
}
.pictures{
    
    border-radius: 10px;
    width: 100%;
    min-width: 180px;
}