body{
    
    background-color: rgb(15, 26, 48);
    color: rgb(177, 184, 202);
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto';
}
li{
    list-style: none;
}

a:hover{
    cursor: pointer;
}
a{  

    padding: 5px;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

h1,h2{  

    font-family: 'Poppins';
    margin: 0;
    color: rgb(234, 240, 255);
}

header{
    padding: 40px 0;
    margin:auto;
    
}
header h1{
    align-content: center;
   
}
header li{
    margin: 0 5px;
}
nav{
   

    align-items: center;
}
main{
    margin: auto;
    max-width: 60%;
}
.head{
    margin: 0 15vw;
    display: flex;
    justify-content: space-between;

}



#nav-contant{
    display: flex;
    justify-content: space-around;
    min-width: 40%;
    align-items: center;
}



#projects{
    flex-direction: column;
}
#projects h1{
    margin: 15px;
}




#table{
    display: flex;
}

.space-pic{
    width: 20vw;
    margin: 1vw;
    
    
}
.pictures{
    
    border-radius: 10px;
    width: 100%;
    min-width: 180px;
}
#resume{
    justify-content: center;
    margin: auto;
    width: 70%;
    height: auto;   
    
}
.resume-container{
    height: 700px;
    padding-bottom: 50px;
}
.resume-container img{
    width: 100%;
  
   
}
.resume-container img:hover{
    
    transform: scale(1);
    transition: all 1s ease;
}
